#clock{
	font-size: 84px; 
	text-align: center; 
	background-color: cornflowerblue; 
	color: white; 
	border-radius: 8px;
	font-family: 'Roboto', cursive;
}
h1{
	font-family: 'Pacifico', cursive; 
	font-size: 70px; 
}
.clockcontainer{
	background-color: mediumaquamarine;
	width: 50%; 
	height: 500px; 
	border-radius: 48px; 
}